@model CleanArchitecture.Core.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Index";
}
<script src="~/js/User.js"></script>
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">User</h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <button class="btn btn-dark btn-icon-sm" onclick="User.loadUserPanel()" id="_UserPanelbtn">
                        <i class="la la-arrow-left"></i>
                        Back
                    </button>
                    @*<button class="btn btn-dark btn-icon-sm" onclick="User.loadUserPanel()" id="_UserPanelbtn">
                            <i class="la la-plus"></i>
                            Add New 1ss
                        </button>

                        <button class="btn btn-dark btn-icon-sm" onclick="User.loadUserPanel()" id="_UserPanelbtn">
                            <i class="la la-plus"></i>
                            Add New
                        </button>*@
                    <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="" data-placement="left" data-original-title="Quick actions">
                        <a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                                    <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                    <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000"></path>
                                </g>
                            </svg>

                            <!--<i class="flaticon2-plus"></i>-->
                        </a>
                        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md dropdown-menu-right">

                            <!--begin::Nav-->
                            <ul class="kt-nav">
                                <li class="kt-nav__head">
                                    Add anything or jump to:
                                    <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="" data-original-title="Click to learn more..."></i>
                                </li>
                                <li class="kt-nav__separator"></li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-drop"></i>
                                        <span class="kt-nav__link-text">Order</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                                        <span class="kt-nav__link-text">Ticket</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-link"></i>
                                        <span class="kt-nav__link-text">Goal</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-new-email"></i>
                                        <span class="kt-nav__link-text">Support Case</span>
                                        <span class="kt-nav__link-badge">
                                            <span class="kt-badge kt-badge--success">5</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="kt-nav__separator"></li>
                                <li class="kt-nav__foot">
                                    <a class="btn btn-label-brand btn-bold btn-sm" href="#">Upgrade plan</a>
                                    <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="" data-original-title="Click to learn more...">Learn more</a>
                                </li>
                            </ul>

                            <!--end::Nav-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end:: Content Head -->
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg" style="background-color: #f9f9fc;">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="fab fa-whmcs"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        User
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <form class="kt-form kt-form--label-right" id="User">
                    <div class="modal-body">
                        <div class="kt-portlet__body">
                            <div class="kt-section">
                                <div class="kt-section__content">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="kt-portlet kt-portlet--bordered">
                                                <div class="kt-portlet__head bg-info">
                                                    <div class="kt-portlet__head-label">
                                                        <h3 class="kt-portlet__head-title">
                                                            User Basic Info
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="kt-portlet__body">
                                                    <div class="kt-widget1 p-0">
                                                        <div class="form-group row">
                                                            <div class="col-lg-4">
                                                                <label class="form-control-label" for="UserName"><span class="text-danger">*</span> First Name:</label>
                                                                <input type="text" asp-for="UserName" name="UserName" class="form-control" placeholder="">
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <label class="form-control-label" for="UserName"><span class="text-danger">*</span>Last Name:</label>
                                                                <input type="text" asp-for="UserName" name="UserName" class="form-control" placeholder="">
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <label class="form-control-label" for="UserName"><span class="text-danger">*</span>User Name:</label>
                                                                <input type="text" asp-for="UserName" name="UserName" class="form-control" placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-lg-4">
                                                                <label class="form-control-label" for="UserName"><span class="text-danger">*</span> Email :</label>
                                                                <input type="text" asp-for="UserName" name="UserName" class="form-control" placeholder="">
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <label class="form-control-label" for="UserName"><span class="text-danger">*</span> Password:</label>
                                                                <input type="text" asp-for="UserName" name="UserName" class="form-control" placeholder="">
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <label class="form-control-label" for="UserName"><span class="text-danger">*</span> Confirm Password:</label>
                                                                <input type="text" asp-for="UserName" name="UserName" class="form-control" placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-3">
                                                                <label class="kt-checkbox kt-checkbox--solid">
                                                                    <input type="checkbox" value="" checked> Is Active
                                                                    <span></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 text-right">
                                                                <button type="submit" class="btn btn-dark btn-sm" onclick="User.validdateUser(event)" id="btnUser">
                                                                    <i class="fa fa-plus"></i>
                                                                    Add New
                                                                </button>
                                                                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-times"></i>Cancel</button>

                                                            </div>
                                                              

                                                        </div>
                                                           
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="kt-portlet kt-portlet--bordered">
                                                <div class="kt-portlet__head bg-info">
                                                    <div class="kt-portlet__head-label">
                                                        <h3 class="kt-portlet__head-title">
                                                            Assign Roles
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="kt-portlet__body">
                                                    <div class="kt-widget1 p-0">
                                                        <div class="kt-widget1__item mb-5">
                                                            <div class="kt-widget1__info">
                                                                <h3 class="kt-widget1__title">Quick Select</h3>
                                                                @*<span class="kt-widget1__desc">Awerage Weekly Profit</span>*@
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--danger">
                                                                        <input type="checkbox">Select All
                                                                        <span></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-12">
                                                                @*<label class="col-form-label">Assign Role :</label>*@
                                                                <div class="row">
                                                                    @foreach (var item in Model.pagePermissionViewModel.Roles)
                                                                    {
                                                                        <div class="col-3">
                                                                            <label class="kt-checkbox kt-checkbox--solid">
                                                                                <input type="checkbox" value="@item.Id"> @item.RoleName
                                                                                <span></span>
                                                                            </label>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 text-right">
                                                                <button type="submit" class="btn btn-dark btn-sm" onclick="User.validdateUser(event)" id="btnUser">
                                                                    <i class="fa fa-plus"></i>
                                                                    Add New
                                                                </button>
                                                                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-times"></i>Cancel</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*<div class="row">
            <div class="col-sm-12">

                <table class="table table-bordered table-hover text-center">
                    <thead class="kt-bg-fill-dark text-center">
                        <tr>
                            <th class="pl-3">Name</th>
                            <th class="pl-3">Add</th>
                            <th class="pl-3">View</th>
                            <th class="pl-3">Update</th>
                            <th class="pl-3">Delete</th>
                            <th class="pl-3">Print</th>
                            <th class="fit text-center">All</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.pagePermissionViewModel.PagePermissions)
                        {
                            <tr>
                                <td>@item.ControllerName</td>
                                @foreach (var innerItem in item.Action)
                                {
                                    <td>
                                        <label class="kt-checkbox kt-checkbox--solid ">
                                            <input type="checkbox" value="@innerItem.Id" checked="checked"> @innerItem.ActionName
                                            <span></span>
                                        </label>
                                    </td>
                                }

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>*@
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="kt-portlet kt-portlet--bordered">
                                                <div class="kt-portlet__head bg-info">
                                                    <div class="kt-portlet__head-label">
                                                        <h3 class="kt-portlet__head-title">
                                                            Additional Permissions
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="kt-portlet__body">
                                                    <div class="kt-widget1 p-0">
                                                        <div class="kt-widget1__item">
                                                            <div class="kt-widget1__info">
                                                                <h3 class="kt-widget1__title">Quick Select</h3>
                                                                @*<span class="kt-widget1__desc">Awerage Weekly Profit</span>*@
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--danger">
                                                                        <input type="checkbox">Select All
                                                                        <span></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <div class="col-12">
                                                                @foreach (var item in Model.pagePermissionViewModel.PagePermissions)
                                                                {
                                                                    <label class="col-form-label">@item.ControllerName</label>
                                                                    <div class="row">
                                                                        @foreach (var innerItem in item.Action)
                                                                        {

                                                                            <div class="col-3">
                                                                                <label class="kt-checkbox kt-checkbox--solid">
                                                                                    <input type="checkbox" value="@innerItem.Id"> @innerItem.ActionName
                                                                                    <span></span>
                                                                                </label>
                                                                            </div>
                                                                        }
                                                                        <div class="col-3">
                                                                            <label class="kt-checkbox kt-checkbox--solid">
                                                                                <input type="checkbox" value=""> Select All
                                                                                <span></span>
                                                                            </label>
                                                                        </div>
                                                                    </div>

                                                                }

                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-12 text-right">
                                                                <button type="submit" class="btn btn-dark btn-sm" onclick="User.validdateUser(event)" id="btnUser">
                                                                    <i class="fa fa-plus"></i>
                                                                    Add New
                                                                </button>
                                                                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-times"></i>Cancel</button>
                                                            </div>
                                                        </div>

                                                        @*@foreach (var item in Model.pagePermissionViewModel.PagePermissions)
        {
            <div class="kt-widget1__item">
                <div class="kt-widget1__info">
                    <h3 class="kt-widget1__title">@item.ControllerName</h3>
                </div>
                <div class="row">
                    @foreach (var innerItem in item.Action)
                    {
                        <div class="col-4">
                            <label class="kt-checkbox kt-checkbox--solid ">
                                <input type="checkbox" checked="checked">@innerItem.ActionName
                                <span></span>
                            </label>
                        </div>
                    }
                    <div class="col-4">
                        <label class="kt-checkbox kt-checkbox--solid kt-checkbox--danger">
                            <input type="checkbox">Select All
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
        }*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <input type="hidden">
                </form>
            </div>


            <div class="kt-separator kt-separator--md kt-separator--dashed m-0"></div>

        </div>
    </div>
</div>

